<!DOCTYPE html>
<!--<html ng-app="milight">-->
<html>
<head>
  <title>Milight Web Interface</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="static/controllers.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">ToDo Milight Web Interface</a>
        </div>
    </div>
    <div id="main" class="container">
        <p><a href="/milight/scan">Scan for bridges</a></p>
        <div ng-app="MilightApp">
          <form action="/milight" method="POST" class="form-horizontal">
            <fieldset>
              <legend>Milight Control</legend>

              <div class="form-group">
                <label class="col-md-4 control-label" for="bridge">Bridge</label>
                <div class="col-md-2">
                  <select id="bridge" name="bridge"  class="form-control" ng-controller="milightCtrl" ng-model="MilightApp" ng-options="item for item in availableBridges">
                  </select>
                </div>
              </div>

              <div ng-controller="dropdownCtrl">
              <div class="form-group">
                <label class="col-md-4 control-label" for="bulb">Bulb type</label>
                <div class="col-md-2">
                  <select id="bulb"
                          name="bulb"
                          class="form-control"
                          ng-model="customer.Bulb"
                          ng-options="obj.id as obj.bulb for obj in bulbs"
                          ng-change="getBulbActions()"
                          ng-required="true">
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="action">Action</label>
                <div class="col-md-2">
                  <select id="action"
                          name="action"
                          class="form-control"
                          ng-model="customer.Action"
                          ng-options="x.action as x.action for x in actions"
                          ng-change = "getActionCities()"
                          ng-required="true">
                  </select>
                </div>
              </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="group">Group</label>
                <div class="col-md-2">
                  <select id="group" name="group" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="value">Value</label>
                <div class="col-md-2">
                <input id="value" name="value" placeholder="provide value when applicable" class="form-control input-md" type="text">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-4">
                  <input id="submit" name="submit" class="btn btn-primary" type="submit" value="Submit">
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <p></p>
        <p><a href="http://blog.miguelgrinberg.com/post/writing-a-javascript-rest-client" target="_blank">source</a></p>

    </div>
    <script type="text/javascript">

        // application code here!

    </script>
</body>
</html>
