{% extends "base.html" %}
{% block content %}
<!-- http://www.prepbootstrap.com/bootstrap-template/collapsepanels -->
  <div class="navbar">
  </div>

  <form id="settingsform" class="form-horizontal">
    <fieldset>
      <legend><a href="/index">Milight Web Interface</a> :: <a href="/settings">Settings</a></legend>

      <div class="panel-group" id="accordion">
      {% for setting in settings %}
        <div class="panel panel-default" id="{{setting['mac-address']}}-panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-target="#{{setting['mac-address']}}-collapse" href="#{{setting['mac-address']}}-collapse">
              Names for bridge: {{setting['mac-address']}}
              </a>
            </h4>
          </div>
          <div id="{{setting['mac-address']}}-collapse" class="panel-collapse collapse">
            <div class="panel-body">
            <!-- Bridge name -->
              <div class="form-group">
                <label class="col-xs-5 control-label" for="{{setting['mac-address']}}-name">Bridge:</label>
                <div class="col-xs-7">
                  <input id="{{setting['mac-address']}}-name" name="{{setting['mac-address']}}-name" value="{{setting['name']}}" class="form-control input-md" type="text">
                </div>
              </div>
            <hr/>
            <!-- group names -->
              <div class="form-group">
                <label class="col-xs-5 control-label" for="{{setting['mac-address']}}-rgbw-group">RGBW groups:</label>
                <div class="col-xs-7">
                  <input id="{{setting['mac-address']}}-rgbw-group" name="{{setting['mac-address']}}-rgbw-group" value="{{setting['rgbw']['group']}}" class="col-xs-5 form-control input-md" type="text">
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-5 control-label" for="{{setting['mac-address']}}-rgbw-group-1">Group 1:</label>
                <div class="col-xs-7">
                  <input id="{{setting['mac-address']}}-rgbw-group-1" name="{{setting['mac-address']}}-rgbw-group-1" value="{{setting['rgbw']['group-1']}}" class="col-xs-5 form-control input-md" type="text">
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-5 control-label" for="{{setting['mac-address']}}-rgbw-group-2">Group 2:</label>
                <div class="col-xs-7">
                  <input id="{{setting['mac-address']}}-rgbw-group-2" name="{{setting['mac-address']}}-rgbw-group-2" value="{{setting['rgbw']['group-2']}}" class="col-xs-5 form-control input-md" type="text">
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-5 control-label" for="{{setting['mac-address']}}-rgbw-group-3">Group 3:</label>
                <div class="col-xs-7">
                  <input id="{{setting['mac-address']}}-rgbw-group-3" name="{{setting['mac-address']}}-rgbw-group-3" value="{{setting['rgbw']['group-3']}}" class="col-xs-5 form-control input-md" type="text">
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-5 control-label" for="{{setting['mac-address']}}-rgbw-group-4">Group 4:</label>
                <div class="col-xs-7">
                  <input id="{{setting['mac-address']}}-rgbw-group-4" name="{{setting['mac-address']}}-rgbw-group-4" value="{{setting['rgbw']['group-4']}}" class="col-xs-5 form-control input-md" type="text">
                </div>
              </div>
            <hr/>
            <!-- group names -->
              <div class="form-group">
                <label class="col-xs-5 control-label" for="{{setting['mac-address']}}-white-group">WHITE groups:</label>
                <div class="col-xs-7">
                  <input id="{{setting['mac-address']}}-white-group" name="{{setting['mac-address']}}-white-group" value="{{setting['white']['group']}}" class="col-xs-5 form-control input-md" type="text">
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-5 control-label" for="{{setting['mac-address']}}-white-group-1">Group 1:</label>
                <div class="col-xs-7">
                  <input id="{{setting['mac-address']}}-white-group-1" name="{{setting['mac-address']}}-white-group-1" value="{{setting['white']['group-1']}}" class="col-xs-5 form-control input-md" type="text">
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-5 control-label" for="{{setting['mac-address']}}-white-group-2">Group 2:</label>
                <div class="col-xs-7">
                  <input id="{{setting['mac-address']}}-white-group-2" name="{{setting['mac-address']}}-white-group-2" value="{{setting['white']['group-2']}}" class="col-xs-5 form-control input-md" type="text">
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-5 control-label" for="{{setting['mac-address']}}-white-group-3">Group 3:</label>
                <div class="col-xs-7">
                  <input id="{{setting['mac-address']}}-white-group-3" name="{{setting['mac-address']}}-white-group-3" value="{{setting['white']['group-3']}}" class="col-xs-5 form-control input-md" type="text">
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-5 control-label" for="{{setting['mac-address']}}-white-group-4">Group 4:</label>
                <div class="col-xs-7">
                  <input id="{{setting['mac-address']}}-white-group-4" name="{{setting['mac-address']}}-white-group-4" value="{{setting['white']['group-4']}}" class="col-xs-5 form-control input-md" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </fieldset>
    <div class="form-group">
      <label class="col-xs-5 control-label" for="submit"></label>
      <div class="col-xs-5">
        <a href="javascript:submitSettings();" class="btn btn-primary">Submit</a>
      </div>
    </div>
  </form>
  <script src="/static/controller_settings.js"></script>
{% endblock %}
